
.twitter {
	background-color: #4BCAFF;
	
	padding: 80px 0;

	h3 {
		/* Style for "twitter" */
color: #ffffff;
font-family: "Segoe UI";
font-size: 30px;
font-weight: 300;
text-transform: uppercase;
margin-bottom: 50px;
	}

	p {
		/* Style for "Unerdwear" */
color: #ffffff;
font-family: "Segoe UI";
font-size: 28px;
font-weight: 300;
margin-bottom: 30px;


	span {
		font-weight: 400;
	}
	}
}