@font-face {
			font-family: "FreestyleScript";
			src: url("../fonts/FreestyleScript/FreestyleScript.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
}

@font-face {
			font-family: "MyriadProRegular";
			src: url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
}


@font-face {
			font-family: "ChampagneLimousinesBold";
			src: url("../fonts/ChampagneLimousinesBold/ChampagneLimousinesBold.ttf") format("truetype");
			font-style: normal;
			font-weight: bold;
}

@font-face {
			font-family: "OpenSansSemibold";
			src: url("../fonts/OpenSansSemibold/OpenSansSemibold.ttf") format("truetype");
			font-style: normal;
			font-weight: bold;
}

