@import url(_libs.scss);
@import url(_fonts.scss);



.top-header {
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 16px 0;
	align-items: center;
}

.top-header__left-nav {
	display: flex;
}

.top-header__left-nav-item {

	list-style-type: none;
	margin-left: 30px;
	&:first-child { margin-left: 0; }

	a {
		text-decoration: none;
		color: #555555;
		font-size: 14px;
		font-family: "OpenSansSemibold";
		font-weight: 400;

		&:hover { 
			color: #5363db; 
			border-bottom: 1px solid #5363db;
			padding-bottom: 3px;
		}
	}
}


.top-header__logo {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.top-header__logo-title {
	color: #5363db;
	font-family: "ChampagneLimousinesBold";
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.4px;
	margin-top: 8px;
}


.top-header__right-nav {
	display: flex;
}

.top-header__right-nav-item {
	list-style-type: none;
	margin-right: 30px;
	&:last-child { margin-right: 0; }

	a {
		text-decoration: none;
		color: #555555;
		font-size: 14px;
		font-family: "OpenSansSemibold";
		font-weight: 400;

		&:hover { 
			color: #5363db; 
			border-bottom: 1px solid #5363db;
			padding-bottom: 3px;
		}
	}

}

.main-header {
	background: url(../img/main-header-bg.png) no-repeat center center;
	background-size: cover;
}

.main-header-wrap {
	max-width: 875px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 100px 0;
}

.main-header__form {
	display: flex;
	flex-direction: column;
	background-color: red;
	padding: 40px 40px 35px 30px;
	box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	background-color: #fff;
}

.main-header__form-title {
	color: #5363db;
	font-family: "OpenSansSemiBold";
	font-size: 26px;
	font-weight: 400;
}

.main-header__form-input {
		border: none;
		color: #000;
		font-family: "Open Sans";
		font-size: 14px;
		font-weight: 400;
		
		width: 220px;
		height: 50px;
		margin-top: 17px;
		padding-left: 10px;
		background-color: #f2f2f2;
		border-radius: 10px;
		
		&:first-of-type { margin-top: 31px; }
		&::placeholder { color: #888888; }

		&:active, &:hover, &:focus {
		    outline: 0;
		    outline-offset: 0;
		}
}

.main-header__form-button {
	border: none;
	width: 170px;
	height: 50px;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 700;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
	background-color: #5b6ceb;
	margin-top: 31px;
	align-self: flex-end;
	&:active, &:focus { outline: none; background-color: #2639C3;}

}

.main-header__info {}

.main-header__info-title {
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 48px;
	max-width: 485px;
	font-weight: 700;
	text-transform: uppercase;
}

.main-header__info-description {
	margin-top: 51px;
	max-width: 268px;
	color: #ffffff;
	font-family: "FreestyleScript";
	font-size: 40px;
	font-weight: 400;
}

.feature-program-wrap {
	max-width: 1170px;
	margin: 0 auto;
	padding: 125px 0;
}


.feature-program__title {
	color: #5b6ceb;
	text-align: center;
	font-family: "Open Sans";
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.feature-program__subtitle {
	margin-top: 25px;
	text-align: center;
	color: #777777;
	font-family: "FreestyleScript";
	font-size: 41px;
	font-weight: 400;
	padding-bottom: 76px;

}


.feature-program__yoga-cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, 568px);
	grid-row-gap: 25px;
  	justify-content: space-between;
}

.feature-program__yoga-cards__card {
	padding-right: 49px;
	width: 519px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	background-color: #ffffff;

	h6 {
		color: #777777;
		font-family: "Open Sans";
		font-size: 20px;
		font-weight: 700;
		text-transform: uppercase;
	}

	p {
		width: 222px;
		margin-top: 18px;
		color: #555555;
		font-family: "Open Sans";
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;

		&:first-of-type { margin-top: 36px; }
		span { color: #999999; }
	}
}

.gallery-wrap {
	margin: 0 auto;
	display: grid;
	max-width: 1925px;
	grid-template-columns: repeat(auto-fill, 481px);
	justify-content: center;
}

.about-wrap {
	max-width: 1171px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 125px 0;
}

.about-info__title {
	margin-top: 30px;
	color: #5b6ceb;
	font-family: "Open Sans";
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.about-info__description {
	max-width: 458px;
	color: #555555;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	margin-top: 30px;
}


.about-image {
	position: relative;
	&::before {
		position: absolute;
		left: -33.5px;
		top: 110px;
		padding: 17px 24px;
		border-radius: 50%;
		content: "<";
		color: #5b6ceb;
		font-size: 34px;
		box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.1);
		background-color: #ffffff;
	}

	&::after {
		position: absolute;
		right: -33.5px;
		top: 110px;
		padding: 16px 24px;
		border-radius: 50%;
		content: ">";
		color: #5b6ceb;
		font-size: 34px;
		box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.1);
		background-color: #ffffff;
	}
}

.useful {
	background: url(../img/useful-bg.png) no-repeat center center;
	background-size: cover;
}

.useful-wrap { 
	max-width: 1165px; 
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, 267px);
	grid-row-gap: 59px;
	justify-content: space-between;
	padding: 125px 0;
}

.useful-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 267px;
}

.useful-item__title {
	margin-top: 34px;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.useful-item__description {
	margin-top: 25px;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 27px;
	text-align: center;
}


.price-list {
	padding: 100px 0;
}

.price-list-wrap {
	max-width: 1170px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

}

.price-list__card { 
	width: 370px;
	display: flex;
	flex-direction: column;
	box-shadow: 6px 6px 50px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	background-color: #ffffff;
}

.price-list__card-price {
	height: 132px;
	line-height: 132px;
	text-align: center;
	background-color: #5b6ceb;
	border-radius: 8px 8px 0 0;
	p {
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;

	span { font-size: 67px; }
	}
}

.price-list__card-description {
	align-self: center;
	p {
		/* Style for "ENTRY DATE" */
		margin-top: 51px;
		width: 220px;
		color: #555555;
		font-family: "Open Sans";
		font-size: 18px;
		font-weight: 400;
		line-height: 58px;
		text-transform: uppercase;
	}
}

.price-list__card-buy {
	padding: 50px 0;
	margin-top: auto;
	align-self: center;
	a {
		/* Style for "Buy now" */
		display: inline-block;
		width: 170px;
		height: 50px;
		border-radius: 20px;
		background-color: #5b6ceb;
		color: #ffffff;
		font-family: "OpenSansSemiBold";
		font-size: 18px;
		font-weight: 400;
		text-decoration: none;
		text-align: center;
		line-height: 50px;
	}
}

.lotos-bg {
	padding-bottom: 201px;
	background: url(../img/lotos-bg.png) no-repeat center right;
	background-size: cover;
}

.quote-wrap {
	max-width: 1170px;
	margin: 0 auto;
	box-shadow: 6px 6px 50px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	background-color: #ffffff;
	position: relative;
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
	padding-bottom: 65px;

}

.main-photo {
		margin-left: 75px;
		border: 2px solid #d7d7d7;
		border-radius: 50%;
		padding: 11px;
}

.quote__bottom-nav { 
	bottom: -31px;
	left: 300px;
	position: absolute;
	display: flex;
	align-items: center;
	width: 280px;
	justify-content: space-between;
	}

.quote__bottom-nav-prev {
		padding: 5px 10px;
		border-radius: 50%;
		content: "<";
		color: #5b6ceb;
		font-size: 20px;
		box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.1);
		background-color: #ffffff;
}

.quote__bottom-nav-next {
		padding: 5px 10px;
		border-radius: 50%;
		content: "<";
		color: #5b6ceb;
		font-size: 20px;
		box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.1);
		background-color: #ffffff;
}

.quote__bottom-nav__info {
	display: flex;
	align-items: center;
	width: 52%;
	justify-content: space-between;

}

.quote__bottom-nav__info-name-profession {
	h6 {
		/* Style for "Sara Taylo" */
		color: #555555;
		font-family: "Open Sans";
		font-size: 14px;
		font-weight: 700;
	}

	p {
		font-size: 12px;
		color: #777777;
		margin-top: 10px;
	}
}

.quote-wrap__info {
	max-width: 644px;
	margin-right: 228px;
}

.quote-wrap__info-quote {
	color: #555555;
	font-family: "Open Sans";
	font-size: 14px;
	font-style: italic;
	line-height: 22px;
	position: relative;

	&::before {
		content: "''";
		color: #5b6ceb;
		font-family: "Open Sans";
		font-size: 60px;
		position: absolute;
		top: 8px;
		left: -50px;
	}

	&::after {
		content: "''";
		color: #5b6ceb;
		font-family: "Open Sans";
		font-size: 60px;
		position: absolute;
		top: 65px;
		left: 650px;
	}
}

.quote-wrap__info-profession {
	color: #777777;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	margin-top: 34px;
}

.quote-wrap__info-name {
	color: #5b6ceb;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
}


.top-footer {
	background-color: #5b6ceb;
	padding: 100px 0;
}
.top-footer-wrap {
	max-width: 1096px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.top-footer__about {
	h6 {
		color: #ffffff;
		font-family: "Open Sans";
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
	}

	p {
		margin-top: 61px;
		max-width: 462px;
		color: #ffffff;
		font-family: "Open Sans";
		font-size: 14px;
		font-weight: 400;
	}
}

.top-footer__about-links{
	margin-top: 71px;
	display: flex;
	width: 180px;
	justify-content: space-between;
}

.top-footer__about-links-link {
	a i {
		font-size: 24px;
		color: #fff;
	}
}

.top-footer__contactus {
	h6 {
		color: #ffffff;
		font-family: "Open Sans";
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
	}
}

.top-footer__contactus-contacts {
	margin-top: 61px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 30px;
	grid-column-gap: 116px;

}


.top-footer__contactus-contacts__contact {
	/* Style for "5419 Josep" */
	color: #fff;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	i { padding-right: 20px; }
	display: flex;
	align-items: center;

	ul li { &:first-child { margin-bottom: 10px; }}
}

.bottom-footer {
	background-color: #5363d8;
	padding: 40px 0;
}

.bottom-footer-wrap {
	text-align: center;
}

.bottom-footer-copyright {
	color: #b7bffc;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
}

@media screen and (max-width: 1080px) {
	.feature-program__yoga-cards { justify-content: center; }
}

@media screen and (max-width: 768px) {
	.top-header {padding: 0 15px;}
	.main-header {padding: 0 15px;}
	.main-header__info-title { text-align: center; }
	.main-header__info-description { text-align: center; }
	.main-header__info { 
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.feature-program__yoga-cards { justify-content: center; }
	.about-wrap { flex-wrap: wrap; 
		justify-content: center;
	}
	
	.price-list-wrap { justify-content: center; }
	.about-info__title { text-align: center; }
	.about-image  { margin-top: 30px; }

	.useful-wrap { padding: 50px 15px; }

	.price-list__card { margin-top: 40px; &:first-child { margin-top: 0; }}

	.main-photo { flex: none; margin-left: 0; }
	.quote { padding: 0 15px; }
	.quote-wrap { flex-wrap: wrap; justify-content: center; }
	.quote-wrap__info { text-align: center; margin-right: 0; }
	.quote__bottom-nav { left: 25%; }
	.top-footer-wrap { flex-wrap: wrap; justify-content: center;}
	.top-footer__contactus { margin-top: 50px;	 }
	.top-footer__about { text-align: center; }
	.top-footer__about-links { margin: 25px auto; }
	.top-footer__contactus { h6 { text-align: center; } }
}


@media screen and (max-width: 530px) {
	.top-header { flex-wrap: wrap; justify-content: center;}
	.top-header__logo { order: -1; flex: 100%;}
	.top-header__left-nav { margin-top: 20px; }
	.top-header__right-nav { margin-top: 10px; margin-bottom: 20px;}
	.main-header { padding: 0 15px; }
	.main-header-wrap { flex-wrap: wrap; justify-content: center; padding: 30px 0;}
	.main-header__form { order: 1; margin-top: 30px;}
	.main-header__form-input { width: 320px; }
	.about-wrap { padding: 30px 15px; }
	.top-footer { padding: 50px 15px; }
	.top-footer__contactus-contacts { 	grid-column-gap: 20px; }
	.feature-program-wrap { padding: 50px 0; }
	.feature-program__yoga-cards {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.feature-program__yoga-cards__card { 
		flex-direction: column;
		padding-right: 0;
		width: 270px;
		margin-top: 50px;
		padding-bottom: 20px;

		&:first-child { margin-top: 0; }
		}
	.quote__bottom-nav { left: 16%; }
	.feature-program__yoga-cards__card-info { margin-top: 15px; }
	.useful-wrap { justify-content: center; padding: 50px 15px;}

}