body {
	font-family: "Segoe UI";


	p { margin: 0; padding: 0; }
}

.wrap {
	max-width: 1170px;
	margin: 0 auto;
}

header {

	background: url('../img/bg.png') no-repeat center center fixed;
	background-size: cover;
}

@import url(top-header.scss);

@import url(main-header.scss);

@import url(services.css);

@import url(portfolio.scss);


@media screen and (max-width: 800px) {

	.top-header .wrap { flex-wrap: wrap; justify-content: center;}

	.wrap { padding-right: 15px; padding-left: 15px; }


}